<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jmpm.ethbadge">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--
        ACCESS COARSE and FINE LOCATION are needed by some device in order to discover Bluetooth devices:
        http://developer.android.com/about/versions/marshmallow/android-6.0-changes.html#behavior-hardware-id
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="EthBadge"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="org.jmpm.ethbadge.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.jmpm.ethbadge.HostActivity" />
        <activity android:name="org.jmpm.ethbadge.VisitorActivity" />
        <activity android:name="org.jmpm.ethbadge.SettingsActivity" />
        <activity android:name="org.jmpm.ethbadge.IdActivity" />
    </application>

</manifest>